<p class="donate">
    We’re donating $10 to the National Park Foundation for every purchase made at Apple using Apple Pay through 8/27.
    <button class="donate-btn" [routerLink]="['store']">Shop Now ></button>
</p>
<div class="main-container" *ngFor="let obj of mainText">
    <h1 class="main-title">{{obj.large}}</h1>
    <h2 class="main-subtitle">{{obj.small}}</h2>
    <div class="btn-container">
        <button class="btn">{{obj.button}}</button>
        <div *ngIf="obj.button2">
            <button class="btn">{{obj.button2}}</button>
        </div>
    </div>
    <button class="btn">
        <img src="{{obj.image}}">
    </button>
</div>
<div class="terms-container" *ngFor="let arr of terms">
    <p>{{arr}}</p>
</div>
