.header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

button {
    border: none;
    background: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    gap: 20px;
}

img {
    width: 22px;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 15px;
}

.bag-img {
    width: 35px;
    margin-top: 15px;
}

.hide {
    display: none;
    align-items: center;
    justify-content: center;
}
